$mobile: 482px;
$tablet: 834px;
$bigTablet: 992px;
$laptop: 1440px;
$desktop: 1920px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin bigTablet {
  @media (max-width: $bigTablet) {
    @content;
  }
}
@mixin isHover {
  @media (min-width: $bigTablet) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin custom($screen) {
  @media (max-width: $screen + 'px') {
    @content;
  }
}
